*{
    padding: 0;
    margin: 0;
}

.listing{
    display: flex;
    justify-content: space-between;

}

.company{
   display: flex;
    padding-top: 50px;
    background-image: url(back.png);
    height: auto;
    padding-bottom: 50px;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bpo{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(108, 211, 176);
}
.bpoimg{
    width: 30%;
}

.bpoimg img{
    display: flex;
    width: 100%;
}
.text{
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
.text h1{
    padding-top: 50px;
}
.text p{
    padding-top: 50px;
}

.name{
   color: white;
   font-size:50px;
   text-align: center;
}
.name2{
    color: white;
    text-align: center;
}
.services{
    padding: 10px 0 0 0;
}

.textcent{
    text-align: center;
}
.services1{
    
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px 25px 0 25px;
}
.card{
    width: 300px;
   
    border-radius: 5px;
}
.card:hover{
    box-shadow: 5px 10px 8px #888888;
}
img{
    border-radius: 5px 5px 0 0;
}
.names{
    text-align: center;
    font-size: larger;
}

.services2{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 170px;
    padding-right: 30px;
}


@media (max-width:480px){
    .services1{
        grid-template-columns: auto;
    }
    .services2{
        grid-template-columns: auto;
        padding: 40px 25px 0 25px;
    }
    .card{
        margin: 10px;
    }
    .bpo{
        flex-direction: column;
    }
    .bpoimg{
        flex-direction: column;
        width: 100%;
    }
    .bpoimg img{
        width: 100%;
    }
    .text{
        padding: 0 8px 0 8px;
        flex-direction: column;
        width: 100%;
    }
}